.flex-container{
display: flex;
justify-content: space-around;
background-color: #ff9090;
}
.flex-container2{
display: flex;
flex-direction: column;
}
.flex-container3{
display: flex;
}
.item_a{
flex-grow: 1;
}
.item_b{
flex-grow: 2;
}